body{
    background-color: rgba(28,110,164);
    color: white;
    font-family: "Audiowide", sans-serif;
}
head{
    background-color: white;
    padding-bottom: 11px;
}
h1{
    color: white;
    font-size: 24px;
    font-weight: bold;
}
h2{
    font-size: 20px;
    font-weight: bold;
}
.selfie {
    align-items: center;
    /*max-width: 100px;*/
    width: 100%;
    height: auto;
}
#About {
    color: white;
    font-size: 18px;
    padding-bottom: 10%;
    padding-top: 5%;

}
#Experience {
    color: white;
    font-size: 18px;
    padding-bottom: 10%;
}
#Connect {
    color: white;
    font-size: 18px;
    padding-bottom: 10%;
    text-align: center;
}
.connect{
    align-items: center;
}
.connect img{
    max-width: 25px;
    height: 25px;
}